<html>
	<meta http-equiv="refresh" content="30" />
	<head>
		<link rel="stylesheet" href='/static/index.css' />
		<title>{{ title }}</title>
	</head>
	<body>
		<h1> Hemispherical photography webapp</h1>
		<h2> The date and time of the server are {{ time }}</h2>
		<h3> 
			Green LED control for testing purposes
			<a href="/Green-led/on" class="button">TURN ON</a>  
			<a href="/Green-led/off"class="button">TURN OFF</a>
			
		</h3>
		
		<h3> The current ID of the future pictures will be: {{ current_id }}
		</h3>
		
		<h3> 
			Camera control
			<a href="/Camera/take" class="button">Acquire hemisph image</a>  
		</h3>
		
		<form method="POST"> 
        <textarea name="textarea"></textarea> 
        <input type="submit" value="Change current ID"> 
		</form> 
		
		<h2> {{ picture }}</h2>
		<img src={{ ImageLink }} alt="Picture"> 
	</body>
</html>
