<html>
	<meta http-equiv="refresh" content="30" />
	<head>
		<link rel="stylesheet" href='/static/index.css' />
		<title>{{ title }}</title>
	</head>
	<body>
		<h1> Cano-pi-imager </h1>
		<h2> {{ time }} </h2>
		
		<div>
			<a href="/Green-led/on" class="button">Green Led ON</a>  
			<a href="/Green-led/off"class="button">Green Led OFF</a>
		</div>
		
		<h2> 
			Current ID: 
			<br>
			{{ current_id }}
		</h2>
		
		<form method="POST"> 
			<textarea name="textarea" class = "id_bttn"></textarea>
			<br>
			<input type="submit" value="Change current ID" class = "id_bttn"> 
		</form> 
		
		<a href="/Camera/take" class="take_button">Acquire</a>  

		<h2> {{ picture }}</h2>
		<img src={{ ImageLink }} class = "disp_img" alt="Picture"> 
	
	</body>
</html>
